USE [master]
GO
/****** Object:  Database [bazaAndjela]    Script Date: 04-Apr-24 14:58:47 ******/
CREATE DATABASE [bazaAndjela]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bazaAndjela', FILENAME = N'C:\Users\Acer\bazaAndjela.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bazaAndjela_log', FILENAME = N'C:\Users\Acer\bazaAndjela_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bazaAndjela].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bazaAndjela]
GO
/****** Object:  Table [dbo].[Clan]    Script Date: 04-Apr-24 14:58:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clan](
	[IdClana] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [varchar](60) NOT NULL,
	[Prezime] [varchar](60) NOT NULL,
	[Email] [varchar](60) NOT NULL,
	[brTel] [varchar](11) NOT NULL,
	[IdKat] [int] NOT NULL,
 CONSTRAINT [PK_Clan] PRIMARY KEY CLUSTERED 
(
	[IdClana] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GrupniProgram]    Script Date: 04-Apr-24 14:58:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrupniProgram](
	[IdGrPr] [int] IDENTITY(1,1) NOT NULL,
	[NazivGrPr] [varchar](50) NOT NULL,
	[OpisGrPr] [varchar](1000) NOT NULL,
	[CenaTermina] [float] NOT NULL,
 CONSTRAINT [PK_GrupniProgram] PRIMARY KEY CLUSTERED 
(
	[IdGrPr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategorija]    Script Date: 04-Apr-24 14:58:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategorija](
	[IdKategorije] [int] IDENTITY(1,1) NOT NULL,
	[NazivKat] [varchar](60) NOT NULL,
	[OpisKat] [varchar](120) NOT NULL,
	[Popust] [float] NOT NULL,
 CONSTRAINT [PK_Kategorija] PRIMARY KEY CLUSTERED 
(
	[IdKategorije] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Odlazak]    Script Date: 04-Apr-24 14:58:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Odlazak](
	[id_clana] [int] NOT NULL,
	[datumOdlaska] [date] NOT NULL,
	[id_grpr] [int] NOT NULL,
	[Placeno] [bit] NOT NULL,
 CONSTRAINT [PK_Odlazak] PRIMARY KEY CLUSTERED 
(
	[id_clana] ASC,
	[datumOdlaska] ASC,
	[id_grpr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Operater]    Script Date: 04-Apr-24 14:58:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operater](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [varchar](50) NOT NULL,
	[Prezime] [varchar](50) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Lozinka] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Operater] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Racun]    Script Date: 04-Apr-24 14:58:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Racun](
	[redniBRac] [int] IDENTITY(1,1) NOT NULL,
	[mesec] [int] NOT NULL,
	[godina] [int] NOT NULL,
	[iznos] [float] NOT NULL,
	[id_cl] [int] NOT NULL,
 CONSTRAINT [PK_Racun] PRIMARY KEY CLUSTERED 
(
	[redniBRac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clan] ON 

INSERT [dbo].[Clan] ([IdClana], [Ime], [Prezime], [Email], [brTel], [IdKat]) VALUES (2, N'Andjela', N'Stankovic', N'andjela@gmail.com', N'0694004177', 2)
INSERT [dbo].[Clan] ([IdClana], [Ime], [Prezime], [Email], [brTel], [IdKat]) VALUES (3, N'Stefan', N'Milosevic', N'stefan@gmail.com', N'068524436', 2)
INSERT [dbo].[Clan] ([IdClana], [Ime], [Prezime], [Email], [brTel], [IdKat]) VALUES (5, N'Nana', N'Nanic', N'nana@gm.com', N'0649876543', 3)
SET IDENTITY_INSERT [dbo].[Clan] OFF
GO
SET IDENTITY_INSERT [dbo].[GrupniProgram] ON 

INSERT [dbo].[GrupniProgram] ([IdGrPr], [NazivGrPr], [OpisGrPr], [CenaTermina]) VALUES (1, N'Pilates', N'Fokusirajte se na jacanje misica, poboljsanje fleksibilnosti i razvijanje svesti o telu kroz kontrolisane pokrete i disanje. Osnovni principi pilatesa ukljucuju centriranje, koncentraciju, kontrolu, preciznost, disanje i fluidnost pokreta.', 200)
INSERT [dbo].[GrupniProgram] ([IdGrPr], [NazivGrPr], [OpisGrPr], [CenaTermina]) VALUES (2, N'Full body workout', N'Trening svih grupa misica i kardio intenzivno sagorevaju kalorije i masti. Povecava se kondicija, snaga i oblikuje telo.', 300)
INSERT [dbo].[GrupniProgram] ([IdGrPr], [NazivGrPr], [OpisGrPr], [CenaTermina]) VALUES (3, N'Zumba', N'Zumba je u plesu, zabavi i muzici ali je takode i veoma pažljivo kreiran trening. Svaki pokret i promena ritma osmisljeni su tako da steknes vrhunski izgled, formu i zdravlje. ', 270)
SET IDENTITY_INSERT [dbo].[GrupniProgram] OFF
GO
SET IDENTITY_INSERT [dbo].[Kategorija] ON 

INSERT [dbo].[Kategorija] ([IdKategorije], [NazivKat], [OpisKat], [Popust]) VALUES (1, N'Student', N'Osoba koja pohadja fakultet i ima ispod 29 godina.', 10)
INSERT [dbo].[Kategorija] ([IdKategorije], [NazivKat], [OpisKat], [Popust]) VALUES (2, N'Zaposleni', N'Osoba u stalnom radnom odnosu i ima preko 26 godina.', 5)
INSERT [dbo].[Kategorija] ([IdKategorije], [NazivKat], [OpisKat], [Popust]) VALUES (3, N'Penzioner', N'Osoba preko 65 godina.', 15)
SET IDENTITY_INSERT [dbo].[Kategorija] OFF
GO
INSERT [dbo].[Odlazak] ([id_clana], [datumOdlaska], [id_grpr], [Placeno]) VALUES (1007, CAST(N'2023-02-01' AS Date), 3, 1)
INSERT [dbo].[Odlazak] ([id_clana], [datumOdlaska], [id_grpr], [Placeno]) VALUES (1007, CAST(N'2023-02-12' AS Date), 1, 1)
INSERT [dbo].[Odlazak] ([id_clana], [datumOdlaska], [id_grpr], [Placeno]) VALUES (1007, CAST(N'2023-02-15' AS Date), 5, 1)
GO
SET IDENTITY_INSERT [dbo].[Operater] ON 

INSERT [dbo].[Operater] ([Id], [Ime], [Prezime], [Email], [Lozinka]) VALUES (1, N'Marija', N'Savic', N'marijasavic1991@gmail.com', N'EA5E7040DCFB37491A1C165D3EEF4BB9A88321EFEB8B739BE386C0ABC7F16288')
INSERT [dbo].[Operater] ([Id], [Ime], [Prezime], [Email], [Lozinka]) VALUES (2, N'Dragan', N'Djordjevic', N'dragandjo123@yahoo.com', N'09645A4A3ED9671B4BDAD57B9AEE89EC41050B3D03D2344DD454F40CF54D230E')
INSERT [dbo].[Operater] ([Id], [Ime], [Prezime], [Email], [Lozinka]) VALUES (3, N'Nikola', N'Petrovic', N'nindza89@gmail.com', N'9EADDC6CED04A60F5077D65BEC9D415FE78E59E6D114E98CE1A56412006B42BA')
SET IDENTITY_INSERT [dbo].[Operater] OFF
GO
SET IDENTITY_INSERT [dbo].[Racun] ON 

INSERT [dbo].[Racun] ([redniBRac], [mesec], [godina], [iznos], [id_cl]) VALUES (1, 2, 2024, 675, 1007)
INSERT [dbo].[Racun] ([redniBRac], [mesec], [godina], [iznos], [id_cl]) VALUES (2, 2, 2023, 0, 1007)
INSERT [dbo].[Racun] ([redniBRac], [mesec], [godina], [iznos], [id_cl]) VALUES (3, 7, 2023, 0, 1007)
SET IDENTITY_INSERT [dbo].[Racun] OFF
GO
ALTER TABLE [dbo].[Clan]  WITH CHECK ADD  CONSTRAINT [FK_Clan_Kategorija] FOREIGN KEY([IdKat])
REFERENCES [dbo].[Kategorija] ([IdKategorije])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Clan] CHECK CONSTRAINT [FK_Clan_Kategorija]
GO
ALTER TABLE [dbo].[Odlazak]  WITH CHECK ADD  CONSTRAINT [FK_Odlazak_Clan] FOREIGN KEY([id_clana])
REFERENCES [dbo].[Clan] ([IdClana])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Odlazak] CHECK CONSTRAINT [FK_Odlazak_Clan]
GO
ALTER TABLE [dbo].[Odlazak]  WITH CHECK ADD  CONSTRAINT [FK_Odlazak_GrupniProgram] FOREIGN KEY([id_grpr])
REFERENCES [dbo].[GrupniProgram] ([IdGrPr])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Odlazak] CHECK CONSTRAINT [FK_Odlazak_GrupniProgram]
GO
ALTER TABLE [dbo].[Racun]  WITH CHECK ADD  CONSTRAINT [FK_Racun_Clan] FOREIGN KEY([id_cl])
REFERENCES [dbo].[Clan] ([IdClana])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Racun] CHECK CONSTRAINT [FK_Racun_Clan]
GO
USE [master]
GO
